/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


#left {
    width: max(25%, 150px);
    height: 500px;
    background-image: url(./ilia-bronskiy-BCESaoxzSJM-unsplash.jpg);
    background-size: cover;
    position: fixed;
    left: 0px;
    height: 100vh;
}

#right {
    width: max(75%, 450px);
    height: 500px;
    background-color:lightsteelblue; 
    position: fixed;
    right: 0px;
    height: 100vh;

}

#logo-container {
    background-color:black;
    opacity: .7;
    width: auto;
    height: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo {
    height: 100px;
    margin-top: 10px;
}


fieldset {
    border: none;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 5px grey;

}

label, input {
    display: block;
}
input {
    margin-bottom: 8px;
}

button:hover {
    background-color: rgb(80, 150, 207);
}


#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
}

input.error {
    border-color: rgb(255, 118, 118);
    border-width: 2px;
}

input.match {
    border-color: green;
    border-width: 2px;
}


h2,
p {
    margin: 20px;

}

h2:first-child {
    margin-top: 50px;
}
button {
    padding: 4px;
    margin: 20px;
}

label {
    font-size: .75rem;

}

h3 {
    margin-bottom: 15px;
}


#mismatch-notice {
    color: red;
    font-size: .2em;
    margin: 0;
}
